site_name: Maho - open source on-premises ecommerce platform
site_url: https://mahocommerce.com
site_description: 'robust, modern, and lean on-premises ecommerce platform for the future of your business'
repo_url: https://github.com/MahoCommerce/maho
repo_name: MahoCommerce/maho

theme:
  name: material
  logo: assets/maho-logo.svg
  favicon: assets/maho-symbol.svg
  custom_dir: docs/overrides
  palette:
      scheme: default
      primary: white
      accent: '#ADB41A'
  features:
    - instant
    - content.code.copy
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
extra_css:
  - maho.css
extra_javascript:
  - maho.js
  - https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js

plugins:
  - search
  - social:
      cards_layout_options:
        logo: docs/assets/maho-logo.svg
        background_color: "#ADB41A"
  - awesome-pages
  - blog:
      blog_dir: blog
      post_date_format: full
      post_url_format: "{date}/{slug}"
  - minify:
      minify_html: true

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_style: default
      noclasses: true
      extend_pygments_lang:
        - name: php
          lang: php
          options:
            startinline: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - footnotes

nav:
  - Home: index.md
  - Documentation:
    - Getting started: getting-started.md
    - Migrate to Maho: migrate-to-maho.md
    - Release strategy: release-strategy.md
    - Origins: origins.md
    - Differences: differences.md
    - Roadmap: roadmap.md
    - Technical doc:
      - Autoloaders: autoloaders.md
      - CLI tool: cli-tool.md
      - Composer plugin: composer-plugin.md
      - Cron setup: cron.md
      - Customer Segments: customer-segments.md
      - Email Automation: email-automation.md
      - Database layer: database-layer.md
      - Email sending (SMTP): email-sending-configuration.md
      - FrankenPHP: frankenphp.md
      - Icons library: icons-library.md
      - Import / Export:
        - Array Import Adapter: array-import-adapter.md
        - Categories: category-import-export.md
      - Magic Link Authentication: magic-link-authentication.md
      - Language packs: language-packs.md
      - Logging: logging.md
      - Override configs: override-configurations.md
      - Robots.txt: robotstxt.md
      - SVG uploads: svg-support.md
    - Reference:
      - Development guide:
          - Introduction: maho-for-devs/introduction.md
          - The Maho config: maho-for-devs/config.md
          - Controller dispatch: maho-for-devs/controller-dispatch.md
          - Layouts, blocks and templates: maho-for-devs/layout-blocks-templates.md
          - Models and ORM basics: maho-for-devs/models-and-orm.md
          - Setup resources: maho-for-devs/setup-resources.md
          - Advanced ORM: maho-for-devs/advanced-orm.md
          - Data collections: maho-for-devs/data-collections.md
          - Customer Segments: maho-for-devs/customer-segments.md
          - Email Automation: maho-for-devs/email-automation.md
      - REST API:
          - Introduction: api/rest/introduction.md
          - Common HTTP status codes: api/rest/common_http_status_codes.md
          - HTTP methods: api/rest/http_methods.md
          - GET Filters: api/rest/get_filters.md
          - Response formats: api/rest/response_formats.md
          - Testing: api/rest/testing_rest_resources.md
          - Authentication:
            - OAuth authentication: api/rest/authentication/oauth_authentication.md
            - OAuth configuration: api/rest/authentication/oauth_configuration.md
          - Permission settings:
            - Introduction: api/rest/permission_settings/introduction.md
            - Roles configuration: api/rest/permission_settings/roles_configuration.md
            - Attributes configuration: api/rest/permission_settings/attributes_configuration.md
            - Attributes description: api/rest/permission_settings/attributes_description.md
          - Extending REST API: api/rest/extending.md
      - SOAP API:
          - Introduction: api/soap.md
          - Catalog Category: api/soap/catalog-category.md
          - Catalog Category Attribute: api/soap/catalog-category-attribute.md
          - Catalog Product:
            - Product: api/soap/catalog-product.md
            - Product Attribute: api/soap/catalog-product-attribute.md
            - Product Attribute Media: api/soap/catalog-product-attribute-media.md
            - Product Attribute Set: api/soap/catalog-product-attribute-set.md
            - Product Custom Option: api/soap/catalog-product-custom-option.md
            - Product Custom Option Value: api/soap/catalog-product-custom-option-value.md
            - Product Downloadable Link: api/soap/catalog-product-downloadable-link.md
            - Product Link: api/soap/catalog-product-link.md
            - Product Tag: api/soap/catalog-product-tag.md
            - Product Tier Price: api/soap/catalog-product-tier-price.md
            - Product Types: api/soap/catalog-product-types.md
          - Catalog Inventory: api/soap/catalog-inventory.md
          - Checkout Cart:
            - Checkout Cart: api/soap/checkout-cart.md
            - Checkout Cart Coupon: api/soap/checkout-cart-coupon.md
            - Checkout Cart Customer: api/soap/checkout-cart-customer.md
            - Checkout Cart Payment: api/soap/checkout-cart-payment.md
            - Checkout Cart Product: api/soap/checkout-cart-product.md
            - Checkout Cart Shipping: api/soap/checkout-cart-shipping.md
          - Customer:
            - Customer: api/soap/customer.md
            - Customer Group: api/soap/customer-group.md
            - Customer Address: api/soap/customer-address.md
          - Directory: api/soap/directory.md
          - Store: api/soap/store.md
          - Sales Order:
            - Order: api/soap/sales-order.md
            - Credit Memo: api/soap/sales-order-credit-memo.md
            - Invoice: api/soap/sales-order-invoice.md
            - Shipment: api/soap/sales-order-shipment.md
      - JSON-RPC API: api/jsonrpc.md
      - phpDoc code reference: code-reference.md
  - Blog: blog/index.md
  - Community:
      - Get Involved: community/get-involved.md
      - Contributing: community/contributing.md
      - Community projects:
          - Docker Starter: community/projects/docker-starter.md
  - Marketplace: marketplace.md
  - Sponsors: sponsors.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MahoCommerce/maho
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/mahocommerce
    - icon: fontawesome/brands/discord
      link: https://discord.gg/dWgcVUFTrS
