:root, [data-md-color-scheme=default] {
    --md-default-fg-color--light: black !important;
}

.md-logo {display: none !important;}
.md-sidebar:not(:has(.md-post__back)) {
    aavisibility: hidden !important;
}
.md-header__title {margin-left: 0 !important;}

aside.md-source-file * {
    color: var(--md-default-fg-color--lighter);
}